{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block content %}
<div class="px-4 py-8 max-w-screen-md mx-auto space-y-6">

  <div class="flex items-center justify-between mb-4">
    <h2 class="text-2xl font-bold text-[#3B4C66] mb-4">🗂️ Liste des catégories</h2>
      {% if 'ROLE_ADMIN' in app.user.roles or 'FORMATEUR' in app.user.roles %}
      <a href="{{ path('creation_category') }}" class="inline-block bg-[#3B4C66] text-white font-semibold px-6 py-2 rounded hover:bg-[#2c3b52] transition">
        ➕ Créer
      </a>
      {% endif %}
  </div>
  <div class="bg-white shadow border rounded overflow-x-auto overflow-y-auto max-h-[60vh]">
    <table class="min-w-full text-left">
      <thead class="bg-[#3B4C66] text-white sticky top-0 z-10">
        <tr>
          <th class="px-4 py-2">#</th>
          <th class="px-4 py-2">Nom de la catégorie</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categorys %}
          <tr class="border-t">
            <td class="px-4 py-2">{{ loop.index }}</td>
            <td class="px-4 py-2"><a href="{{ path('detail_category', {'id': category.id}) }}" class="text-[#3B4C66] font-semibold hover:underline hover:text-[#4F627E] transition">{{ category.categoryName }}</a></td>
          </tr>
        {% else %}
          <tr>
            <td colspan="2" class="px-4 py-2 text-gray-500">Aucune catégorie trouvée.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
